/*espaçamento*/
.mi-1 {margin: 25rem;}
.mi-2 {margin: 5rem;}
.mi-3 {margin: 1rem;}
.mi-4 {margin: 1.5rem;}

.pi-1 {padding: 20rem;}
.pi-2 {padding: 5rem;}
.pi-3 {padding: 1rem;}
.pi-4 {padding: 1.5rem;}

.mt-1 {margin-top: 20rem;}
.mt-2 {margin-top: 5rem;}
.mt-3 {margin-top: 1rem;}
.mt-4 {margin-top: 1.5rem;}

.pt-1 {padding-top: 20rem;}
.pt-2 {padding-top: 5rem;}
.pt-3 {padding-top: 1rem;}
.pt-4 {padding-top: 1.5rem;}

.mr-1 {margin: 20rem;}
.mr-2 {margin-right: 5rem;}
.mr-3 {margin-right: 1rem;}
.mr-4 {margin-right: 1.5rem;}

.ml-1 {margin-left: 20rem;}
.ml-2 {margin-left: 5rem;}
.ml-3 {margin-left: 1rem;}
.ml-4 {margin-left: 1.5rem;}

.pr-1 {padding-right: 20rem;}
.pr-2 {padding-right: 5rem;}
.pr-3 {padding-right: 1rem;}
.pr-4 {padding-right: 1.5rem;}

.pl-1 {padding-left: 20rem;}
.pl-2 {padding-left: 5rem;}
.pl-3 {padding-left: 1rem;}
.pl-4 {padding-left: 1.5rem;}

/*texto*/
.t-l {text-align: left;}
.t-c {text-align: center;}
.t-r {text-align: right;}

.fw-light {font-weight:300;}
.fw-normal {font-weight:400;}
.fw-bold {font-weight:800;}

.ts-1 {font-size: 75rem;}
.ts-2 {font-size: 1rem;}
.ts-3 {font-size: 1.25rem;}
.ts-4 {font-size: 1.5rem;}


/*text-color*/
.tc-pink {color:#ff0cee;}
.tc-white {color:#FFFFFF;}
.tc-black {color:#000000;}
.tc-renki {color:#ff0182;}


/*display*/
.dx {display:flex;}
.db {display:block;}
.dg {display:grid;}

/*direção*/
.fd-r {flex-direction: row;}
.fd-c {flex-direction: column;}
.fd-rv {flex-direction: column-reverse;}

/*justify-content & align-items*/

.jf-s {justify-content: space-between;}
.jf-a {justify-content: space-around;}
.jf-c {justify-content: center;}

.al-c {align-items: center;}

/*position*/
.ps-f {position: fixed;}
.ps-b {position: absolute;}
.ps-r {position: relative;}

/*altura e largura*/
.mh {min-height:100vh;}
.wd {width:100%;}

/*bordas*/
.b-1 {border: 5px solid #000000;}
.b-2 {border: 3 px solid #000000;}
.b-3 {border: 1px solid #000000;}
.b-t {border: 1px solid transparent;}